* {
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  background-color: rgb(245, 245, 245);
  border-top: #1098ad solid 10px;
}

.welcome-header {
  text-align: center;
  margin-bottom: 50px
}

.welcome-text {
  color: #3d3d3d;
  font-size: 80px;
  margin-top: 40px;
}

.option-area {
  width: 500px;
  height: 300px;
  margin: auto auto;
}

.form-area1 {
  width: 200px;
  margin: 100px auto;
}

.form-area2 {
  width: 300px;
  margin: 0 auto;
}

.button {
  border: none;
  cursor: pointer;
  font-size: 40px;
  color: #3d3d3d;
  background-color: #1098ad;
  padding: 15px;
  border-radius: 10px;
  width: 150px;
}

.register {
  width: 250px;
}

.button:visited {
  color: #3d3d3d;
}

.button:hover {
  background-color: rgb(245, 245, 245);
  color: #1098ad;
}
