<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta
            name="viewport"
            content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <link th:href="@{/css/login.css}" rel="stylesheet" />
    <title>Log in</title>
</head>
<body>
<header class="welcome-header">
    <h1 class="welcome-text">Please sign in</h1>
</header>
<div class="container">
    <form method="post" action="/login">
        <div class="label-input">
            <input
                    type="text"
                    id="username"
                    name="username"
                    class="form-control"
                    placeholder="Username"
                    required=""
                    autofocus=""
            />
        </div>
        <div class="label-input">
            <input
                    type="password"
                    id="password"
                    name="password"
                    class="form-control"
                    placeholder="Password"
                    required=""
            />
        </div>
        <button type="submit">Sign in</button>
    </form>
</div>
</body>
</html>
