<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Snippet title</title>
<!--    <link rel="stylesheet"-->
<!--          href="//cdn.jsdelivr.net/gh/highlightjs/cdn-release@10.5.0/build/styles/default.min.css">-->
<!--    <script src="//cdn.jsdelivr.net/gh/highlightjs/cdn-release@10.5.0/build/highlight.min.js"></script>-->
<!--    <script>hljs.initHighlightingOnLoad();</script>-->
</head>
<body>
<h1>Test</h1>
<ol >
    <li th:each="snippet: ${codeList}" th:text="${snippet.getCode()}"></li>
</ol>

</body>
</html>